<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welcome to student dashboard</h1>
    <p>my name is {{name}}</p>
    <p>my age is {{age}}</p>
    <p>my collage name is {{collage}}</p>
    <p>my subjects {{subjects}}</p>
    <p>my subjects {{subjects.0}}</p>
    <p>my subjects {{subjects.1}}</p>
    <p>my marks {{marks.hindi}}</p>
    <p>my marks {{marks.english}}</p>
    <p>my product {{product.color}}</p>
    <p>my product {{product.price}}</p>
    <p>my sum {{sum}}</p>
</body>

</html>