<!DOCTYPE html>
<html>
<head>
    <title>Student Home</title>
    
</head>
<body>
    <h1>This is Home page </h1>
    {% if students %}
      <table border="1" cellspacing=0 cellpadding=10>
        <tr> <th>Name</th><th>Email</th> <th>Age</th><th>City</th> </tr>
         {% for Student in students  %}
            <tr> <td>{{Student.name}}</td><td>{{Student.email}}</td> <td>{{Student.age}}</td><td>{{Student.city}}</td> </tr>  
         {% endfor %} 
     </table>
      
    {% else %}
        <h1>No students available.</h1>
    {% endif %}



     {% if students %}
       <h1 style="margin-top:60px">Ujjain Students</h1>
      <table border="1" cellspacing=0 cellpadding=10>
        <tr> <th>Name</th><th>Email</th> <th>Age</th><th>City</th> </tr>
         {% for Student in ujjain_students  %}
            <tr> <td>{{Student.name}}</td><td>{{Student.email}}</td> <td>{{Student.age}}</td><td>{{Student.city}}</td> </tr>  
         {% endfor %} 
     </table>
      
    {% else %}
        <h1>No students available.</h1>
    {% endif %}
</body>
</html>