{% extends 'base.html' %}

{% block content %}
<div class="bg-gray-200 p-8 ">
    <h1 class="text-2xl font-bold mb-4 text-center">About Me</h1>
    <p class="font-medium leading-relaxed text-center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa vel facilis, voluptates accusamus itaque
        repudiandae reprehenderit provident veritatis quae molestiae laudantium quos expedita rem veniam, sed
        distinctio. Dolores quam deleniti aspernatur veritatis voluptatibus perferendis reiciendis quaerat, corrupti
        repellendus labore repellat iure, itaque nulla ad vitae. Amet animi alias eaque asperiores, earum beatae, nemo
        harum quis, consectetur corporis illum atque magnam voluptates aspernatur. Perspiciatis blanditiis ipsam
        mollitia itaque quod, temporibus facilis ex a neque laboriosam eveniet possimus nihil inventore nisi quae eos
        in? Sint quaerat omnis reiciendis vel repudiandae sapiente! Voluptatum, consectetur itaque culpa quia eius
        fugiat cumque, modi quisquam eum laboriosam qui omnis nam officia, vel perspiciatis! Non voluptates, fugit
        voluptatem eos alias dolores ipsum, nesciunt molestias tenetur quo magnam, neque doloremque maxime hic. Ducimus
        eos, vel fugit nulla maiores reprehenderit, hic voluptatibus nam architecto dolor, cumque atque voluptatem
        itaque! Enim quae debitis pariatur ratione quidem tempore quasi assumenda voluptas alias consequuntur, iure id
        sit nam corrupti molestiae earum! Cumque assumenda quidem nulla voluptates quis. Expedita quod minima omnis
        veritatis fuga assumenda animi deserunt rem a necessitatibus hic asperiores pariatur error, maiores, odio dicta
        et architecto id, quisquam perspiciatis atque quia incidunt magnam adipisci. Temporibus facere explicabo est
        quod porro!</p>
</div>
{% endblock %}