<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello wolrd institute</title>
    <style>
        h1 {
            background-color: blue;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Hello world Institue</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate omnis ab cum dolore ullam veniam
        consequuntur, ad ea esse deserunt tempore porro iste autem optio rerum ducimus atque nesciunt fugit doloribus
        voluptates quod laboriosam quae incidunt? Esse officia laudantium id aliquid repudiandae minus a voluptatem
        eligendi quos, repellendus similique ea error iure cumque amet cum, iusto quis recusandae fugit reprehenderit
        dolor libero, odit accusamus fugiat! Amet iure impedit cupiditate perferendis! Omnis aliquam pariatur voluptates
        maxime repudiandae, quis consequatur facilis nostrum eius voluptatem ea esse delectus facere incidunt suscipit
        accusamus impedit labore recusandae corrupti blanditiis, nemo excepturi nihil quibusdam? Quae dolores beatae
        reprehenderit dolorem. Esse, nesciunt tenetur facere nemo obcaecati hic perspiciatis deserunt libero unde,
        sapiente nihil dignissimos iure similique praesentium consequatur ab quos quae, possimus eius. Labore voluptatum
        provident, hic sed odio quos debitis placeat sapiente unde eaque, porro dolorum ducimus iste quasi quo
        asperiores tempore molestias sunt nobis repellat nostrum aspernatur odit quae animi. Ut soluta quas id quaerat
        repudiandae, et officia molestiae maiores eaque veniam ratione quod nulla magni nesciunt voluptatibus vero at
        fugit voluptatem aut, magnam placeat, exercitationem adipisci? Pariatur eos doloremque vitae? Dicta quis
        aspernatur ea maiores aut nihil distinctio, minima tempore doloribus ipsum praesentium quidem?</p>
</body>

</html>