.navbar {
    display: flex;
    flex-direction: column;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.footer {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
img{
    width: 200px;
}